@import "tailwindcss";


@font-face {
  font-family: "poppins";
  src: url("/Poppins-Medium.ttf");
}
@font-face {
  font-family: "US";
  src: url("/USFONT.ttf");
}
.poppins {
  font-family: "poppins", sans-serif;
}